{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  <div class="row">
    <div class="col-lg-12">

      {{ with .Content }}
      <div class="article-style" itemprop="articleBody">{{ . }}</div>
      {{ end }}

      {{/* Array of distinct years. */}}
      {{ range .Pages.ByDate.Reverse }}
      {{ $year := print (.Date.Format "2006") }}
      {{ $.Scratch.SetInMap "years" $year $year }}
      {{ end }}

      <div id="container-publications">
        {{ range .Pages.ByDate.Reverse }}

        {{ if .Params.publication_types }}
        {{ $.Scratch.Set "pubtype" (index .Params.publication_types 0) }}
        {{ else }}
        {{ $.Scratch.Set "pubtype" 0 }}
        {{ end }}

        <div
          class="grid-sizer col-lg-12 isotope-item pubtype-{{ $.Scratch.Get "pubtype" }} year-{{ .Date.Format "2006" }}">
          {{ if eq $.Params.view 1 }}
          {{ partial "li_list" . }}
          {{ else if eq $.Params.view 3 }}
          {{ partial "li_card" . }}
          {{ else if eq $.Params.view 4 }}
          {{ partial "li_citation" . }}
          {{ else }}
          {{ partial "li_compact" . }}
          {{ end }}
        </div>

        {{ end }}
      </div>

    </div>
  </div>
</div>

{{- end -}}
